### 1. Write a program to create a tuple

In [1]:
t=(5,9,6,'Joy','rc')
print(t)
print(type(t))

(5, 9, 6, 'Joy', 'rc')
<class 'tuple'>

### 2. Write a program to create a tuple with different data types

In [3]:
t=(7,2.5,'Joy','rc',2+3j)
print(t)
type(t)

(7, 2.5, 'Joy', 'rc', (2+3j))

tuple

### 3. Write a program to create a tuple with numbers and print one item

In [4]:
t=(6,88,40,25,96)
print(t)
print(t[1])

(6, 88, 40, 25, 96)
88

### 4. Write a program to add an item in the tuple

In [7]:
t = (65,75,86,55,99)
t1 = t + (75,)
print(t1)

(65, 75, 86, 55, 99, 75)

### 5. Write a program to convert tuple to a string

In [10]:
t = (65,75,86,55,99)
s=str(t)
print(s)
print(type(s))

(65, 75, 86, 55, 99)
<class 'str'>

### 6. Write a program to get the 4th element and the 4th element from the last of a tuple

In [16]:
t=(5,4,6,'Joy','RC')
print(t)
print("4th Element of the Tuple is :",t[3])
print("Last Element of the Tuple is :",t[-4])

(5, 4, 6, 'Joy', 'RC')
4th Element of the Tuple is : Joy
Last Element of the Tuple is : 4